.box {
    width: 100px;
    height: 100px;
    line-height: 80px;
    background: black;
    background-size: cover;
    background-image: url(../images/conan.png);
    
    margin: auto;
    border: 2px solid green;
    padding: 10px;
    box-sizing: border-box;
    color: aqua;
    font-size: 20px;
    font-weight: 600;
    font-family: 'Courgette', cursive;

}

.box2 {
    width: 100px;
    height: 100px;
    box-sizing: border-box;
    border: 3px solid #18a141;
    background: #3ba7e6;
    color: rebeccapurple;
    padding: 10px;
    margin: auto;
    margin-top: 10px;
}

.button {
    background: #ba4ec4;
    color: #ffffff;
    text-align: center;
    text-align: center;
    padding: 10px 20px;
    margin-top: 20px;
    border-radius: 5px;
    margin-top: 20px 10px;
   
}